*{
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

header{
    padding-top:1.2rem;
    height: 65vh;
    /* opacity: 0.9; */
    background-image: url(/Assets/home.jpg);
    /* background-color:rgb(49, 46, 46); */

    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
/* setting up some properties to navigation */

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    text-align: center;

}

.horizontal-list li{
    display: inline-block;
    margin: 0px 10px;
    
    
}

.horizontal-list li a{
    /* font-size: 1.1rem; */

    color: white;
    text-decoration: none;
    transition:  color 0.7s;
   
}
.horizontal-list li a:hover{
    text-decoration: underline;
    color:  #ff5603;
  

}
/* setting up some properties to the name */
h1{
    color: white;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 4.8rem;
    text-shadow: 1px 1px 1px gray;
    
  
}
/* setting up some properties to the social icons*/

.social-icons li a img{
    margin-top:0.3rem;
    padding:0.6rem;
    filter: invert();
    border-radius: 50%;
    transition: all 0.3s linear;
    
}
.social-icons li a img:hover{
    box-shadow:0px 0px 6px 4px rgb(67, 209, 238);
    transform:scale(1.08);
    
    
}
/* setting up some properties to the about section*/
/* setting up some properties to the image in the about section*/
#about{
    height: auto;
    width: 100%;
    position: relative;

}
#myImage {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}
#myImage img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
   
}
#about p{
    padding: 3rem 6rem;
    text-align: justify;
} 
/* setting up some propertirs to the skills section */
section{
    height: 70vh;
    width:100% ;
    display: flex;
    flex-direction: column;
}
section:nth-child(2n){
    background-color: lightgrey;
}
section:nth-child(2n+1){
    background-color:white;
}
.SectionName{
    width: auto;
    /* padding: 20px 10px 10px; */
    /* margin: 10px auto; */
    font-weight: 400;

}
.SectionName h1{
    margin-top: 1rem;
    font-size: 40px;
    color: #2857a4;
}
.SkillDisplay{
    margin-top: 4rem;
    height: 35vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.skillProgress{
    /* border: 2px solid black; */
    border-radius: 0.8rem;
    width: 8rem;
    height: 1.7rem;
    background-color:gray;
    margin: 0rem 3rem;
}
.percentageIndicator{
    width: 60%;
    height: inherit;
    border-radius: 0.8rem;
    /* border: 2px solid red; */
    background-color:#2857a4;
}
.skill-name span{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 13px;

}
.percentageIndicator1{
    width: 80%;
    height: inherit;
    border-radius: 0.8rem;
    background-color: red;
}
.percentageIndicator2{
    width: 90%;
    height: inherit;
    border-radius: 0.8rem;
    background-color:rgb(67, 41, 41);
}
.percentageIndicator3{
    width: 75%;
    height: inherit;
    border-radius: 0.8rem;
    background-color:seagreen;
}
.percentageIndicator4{
    width: 70%;
    height: inherit;
    border-radius: 0.8rem;
    background-color:seagreen;
}
.percentageIndicator5{
    width: 75%;
    height: inherit;
    border-radius: 0.8rem;
    background-color:rgb(67, 41, 41);
}
.percentageIndicator6{
    width: 65%;
    height: inherit;
    border-radius: 0.8rem;
    background-color: red;
}
.percentageIndicator7{
    width: 50%;
    height: inherit;
    border-radius: 0.8rem;
    background-color:#2857a4;
}

